{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}
 :aliases
 {:run {:main-opts ["--main" "claytn.drepl"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                       {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "drepl.jar"
                        :main-class "claytn.drepl"
                        :sync-pom true}}
  ;; TODO: FIX THE ProcessBuilder error
  :native-image
           {:main-opts ["-m" "clj.native-image" "claytn.drepl"
                        "--initialize-at-build-time"
                        ;; optional native image name override
                        "-H:Name=drepl"]
            :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
            :extra-deps
            {clj.native-image/clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}}}
